
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.padre-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

    .padre-section p {
        color: #4388a2;
    }

.section {
    margin-bottom: 40px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
}


.cabecera-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    padding: 0 20px;
}

/* SWIPER */
.swiper {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
}

.swiper-wrapper {
    padding: 20px 40px;
    border-radius: 20px;
    height: 350px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.prueba {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

    .prueba:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px #00ff88, 0 0 40px #00ff88;
    }

.pruebaenlace {
    display: block;
    width: 100%;
    height: 100%;
}

.pruebaimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}


body {
    background: radial-gradient(circle at center, #083c42, #021f24);
    min-height: 100vh;
}